@import '../../functions.scss';

.review {
    background-color: #fff;
    border-radius: rems(20);
    display: flex;
    align-items: center;
    padding: rems(12) rems(42);

    &__avatar + &__text,
    &__text + &__avatar {
        margin-left: rems(12);
    }

    &__avatar {
        display: block;
        width: rems(44);
        height: rems(44);
        overflow: hidden;
        border-radius: 50%;
        background-color: #ccc;
        flex-shrink: 0;
    }

    &__text {
        font-size: rems(14);
        line-height: 120%;
        color: #000;
    }
}
