@import '../../functions.scss';

.the-text {
    &--h2 {
        font-size: rems(24);
        line-height: 120%;
        font-family: 'ArchivoBlack', sans-serif;

        @media (min-width: 650px) {
            font-size: rems(32);
        }
    }

    &--h3 {
        font-size: rems(24);
        line-height: 120%;
        font-family: 'ArchivoBlack', sans-serif;
    }

    &--large {
        font-size: rems(18);
        line-height: 120%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    &--medium {
        font-size: rems(16);
        line-height: 140%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

    &--small {
        font-size: rems(14);
        line-height: 120%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    &--extra-small {
        font-size: rems(12);
        line-height: 120%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
}
