.the-text {
    &--h2 {
        font-size: 24px;
        line-height: 120%;
        font-family: 'ArchivoBlack', sans-serif;

        @media (min-width: 650px) {
            font-size: 32px;
        }
    }

    &--h3 {
        font-size: 24px;
        line-height: 120%;
        font-family: 'ArchivoBlack', sans-serif;
    }

    &--large {
        font-size: 18px;
        line-height: 120%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    &--medium {
        font-size: 16px;
        line-height: 140%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

    &--small {
        font-size: 14px;
        line-height: 120%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    &--extra-small {
        font-size: 12px;
        line-height: 120%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
}
