mixin buttonGradientBackground
    button.button.button--gradient-background&attributes(attributes)
        block

mixin buttonGradientBorderOutline
    button.button.button--gradient-border-outline&attributes(attributes)
        p
            block
