footer.footer
    +logo.footer__logo
    .footer__navigation
        .footer__link.footer__link--nav About us
        .footer__link.footer__link--nav Tags Samples
        .footer__link.footer__link--nav Pricing
        .footer__link.footer__link--nav Reviews
        .footer__link.footer__link--nav FAQ
        .footer__link.footer__link--nav Contacts
    .footer__privacy
        .footer__link.footer__link--privacy Terms of service
        .footer__link.footer__link--privacy Privacy policy
        .footer__link.footer__link--privacy Refund policy
    .footer__social
        .footer__link.footer__link--social
            img(
                src="public/assets/images/icons/youtube.png"
            )
        .footer__link.footer__link--social
            img(
                src="public/assets/images/icons/instagram.png"
            )
        .footer__link.footer__link--social
            img(
                src="public/assets/images/icons/facebook.png"
            )
        .footer__link.footer__link--social
            img(
                src="public/assets/images/icons/twitter.png"
            )
