@import '../../functions.scss';

.footer {
    display: flex;
    flex-direction: column;
    padding: rems(40) rems(20) rems(56);
    background-color: rgba(#000, 0.5);
    margin-top: rems(40);

    &__logo {
        margin-bottom: rems(32);
    }

    &__navigation {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: rems(8);
    }

    &__link {
        display: inline-block;
        font-size: rems(16);
        line-height: 120%;

        &--nav {
            margin-right: rems(24);
            margin-bottom: rems(32);
        }

        &--privacy {
            text-decoration-line: underline;
            opacity: 0.6;

            & + & {
                margin-top: rems(24);
            }
        }

        &--social {
            width: rems(32);
            height: rems(32);
            background-color: #cccccc;

            img {
                width: 100%;
                height: 100%;
            }

            & + & {
                margin-left: rems(24);
            }
        }
    }

    &__privacy {
        display: flex;
        flex-direction: column;
        margin-bottom: rems(40);
    }

    &__privacy-link {
        display: block;

        & + & {
            margin-top: rems(24);
        }
    }
}
