@import '../../functions.scss';

.have-questions-form {
    max-width: rems(511);
    width: 100%;

    &__header {
        font-size: rems(24);
        font-weight: bold;
        margin-bottom: rems(24);
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: rems(16) rems(12);
        background-color: rgba(#fff, 0.05);
        border-radius: rems(10);
    }

    &__field {
        display: block;

        & + & {
            margin-top: rems(24);
        }
    }

    &__action {
        margin-top: rems(28);
    }
}
