.have-questions-form
    +theText('h2', 'h2').have-questions-form__header Have any questions?
    form.have-questions-form__form
        input.have-questions-form__field(
            placeholder="Enter your email"
        )
        input.have-questions-form__field(
            placeholder="Enter your questions"
        )
        +buttonGradientBackground.have-questions-form__action Send question
