.samples
    .container.samples__container
        +theText('h2', 'h2').samples__header Tags Samples
        .samples__list
            .samples__item
                picture.samples__background
                    img(
                        src="public/assets/images/samples/background-male.png"
                    )
                +theText('h5', 'large').samples__title Male voice
                +audioTrack('male-sound-1').samples__audio
                +audioTrack('male-sound-2').samples__audio
            .samples__item
                picture.samples__background
                    img(
                        src="public/assets/images/samples/background-female.png"
                    )
                +theText('h5', 'large').samples__title Female voice
                +audioTrack('female-sound-1').samples__audio
                +audioTrack('female-sound-2').samples__audio
            .samples__item
                picture.samples__background
                    img(
                        src="public/assets/images/samples/background-anime.png"
                    )
                +theText('h5', 'large').samples__title Anime voice
                +audioTrack('anime-sound-1').samples__audio
            .samples__item
                picture.samples__background
                    img(
                        src="public/assets/images/samples/background-kid.png"
                    )
                +theText('h5', 'large').samples__title Kid voice
                +audioTrack('kid-sound-1').samples__audio
