.samples
    .container.samples__container
        .samples__header Tags Samples
        .samples__list
            .samples__item
                picture.samples__background
                    img(
                        src="public/assets/images/samples/background-male.png"
                    )
                .samples__title Male voice
                .samples__audio
                .samples__audio
            .samples__item
                picture.samples__background
                    img(
                        src="public/assets/images/samples/background-female.png"
                    )
                .samples__title Female voice
                .samples__audio
                .samples__audio
            .samples__item
                picture.samples__background
                    img(
                        src="public/assets/images/samples/background-anime.png"
                    )
                .samples__title Anime voice
                .samples__audio
            .samples__item
                picture.samples__background
                    img(
                        src="public/assets/images/samples/background-kid.png"
                    )
                .samples__title Kid voice
                .samples__audio
