@import '../../functions.scss';

.about-us {
    background: linear-gradient(3deg, rgba(#0958FA, 0.05) -50%, rgba(#09FA32, 0.05) 150%);
    border-radius: rems(30);
    padding: rems(24);
    box-sizing: border-box;

    &__header {
        margin-bottom: rems(24);
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: rems(30);
        width: 100%;

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__image {
        display: block;
        overflow: hidden;
        //min-width: rem(340);
        min-height: rems(125);
        margin-bottom: rems(10);
        border-radius: rems(20);
        background-color: #999;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        margin-bottom: rems(4);
    }

    &__description {
        color: rgba(#fff, 0.8);
    }

    @media (min-width: 768px) {
        padding: rems(32) rems(40);
    }
}
