.about-us
    .about-us__container.container
        .about-us__header About us
        ul.about-us__list
            li.about-us__item
                img.about-us__image
                h5.about-us__title Fast Delivery
                p.about-us__description .WAV files will be sent 96 hours after your payment is processed. The download link with your voice tag order will be sent to your email
            li.about-us__item
                img.about-us__image
                h5.about-us__title Safety Payment
                p.about-us__description Pay via PayPal or with your credit or debit card. We also have some additional payment options in the order form
            li.about-us__item
                img.about-us__image
                h5.about-us__title Package Deals
                p.about-us__description Need multiple voice tags? We got special bulk pricing options. Check the «Prices» section for more info
            li.about-us__item
                img.about-us__image
                h5.about-us__title 4 Voice Actor Options
                p.about-us__description Choose from female, male, kid or anime voice. Or get multiple tags with different voices with package deals
            li.about-us__item
                img.about-us__image
                h5.about-us__title Wet + Dry Recordings
                p.about-us__description You will receive each tag mixed and unmixed, and recorded 3-5 times. Use one or use them all!
            li.about-us__item
                img.about-us__image
                h5.about-us__title 2 Free Revisions
                p.about-us__description Not the right sound for your brand? If you aren't happy with your voice tag, we'll re-record it or change the effects!
