mixin logo
    picture.logo&attributes(attributes)
        img(
            width="68"
            height="22"
            alt="Логотип сайта"
            src="public/assets/images/logo.png"
        )
