.faq
    +theText('h2', 'h2').faq__header FAQ
    .faq__list
        .faq__item
            +theText('p', 'large').faq__title When will I receive my tags?
            .faq__text.text Please allow up to 4 days for your custom tag.
        .faq__item
            +theText('p', 'large').faq__title How do you know how to pronounce my name correctly?
            .faq__text.text
                | We will contact you after you place your order.
                | Or you can enter the pronunciation in the <u><b>«Your requests»</b></u> field in the order form.
        .faq__item
            +theText('p', 'large').faq__title Can I use my voice tag for commercial projects?
            .faq__text.text Yes, you have the full right to use it. Brand yourself! Become known!
        .faq__item
            +theText('p', 'large').faq__title In what format will I receive my tag?
            .faq__text.text All tags are sent in HIGH QUALITY WAV format. We make at least 3 recordings, each with sound FX, basic mix and the dry recording.
        .faq__item
            +theText('p', 'large').faq__title What are voice actor options?
            .faq__text.text Choose from 4 different voice options: female, male, kids and anime voice. If you require more than one brand tags, we got some package deals for you. Check the <u><b>«Prices»</b></u> section for more info!
        .faq__item
            +theText('p', 'large').faq__title Can you make a vocal script?
            .faq__text.text Of course! Need a voiceover for your instructional video or a narrator for your commercial, film, or book reading? Email <a href="mailto://mail@voicetaglab.com">mail@voicetaglab.com</a> to get your price quote!
        .faq__item
            +theText('p', 'large').faq__title What should I include in the «Your requests» section?
            .faq__text.text This is where you share a bit about how you want your voice tag to sound. This might include the style that best reflects your brand, or your desired special effects.
        .faq__item
            +theText('p', 'large').faq__title Can I hear a tag before I pay?
            .faq__text.text No, we don't get started until your order is processed, but each tag is recorded several times and you get every recording - 3 to 5 in total! And we offer 2 free revisions if you aren’t satisfied. We deliver results!
        .faq__item
            +theText('p', 'large').faq__title What is a revision?
            .faq__text.text.
                A revision is a change to your tag. If you aren’t satisfied with the first version of your tag, we can revise it 2 times.
                The revisions include changes to:
                <ul>
                    <li>Effects</li>
                    <li>Tone</li>
                    <li>Speed</li>
                </ul>
                Revisions don’t include:
                <ul>
                    <li>Changes to the phrase wording. The phrase cannot be changed once the first version of the drop has been sent.</li>
                    <li>Changes to the voice actor. We can't change the person who works with your tag.</li>
                </ul>
        .faq__item
            +theText('p', 'large').faq__title How long can a tag be?
            .faq__text.text A tag can only be one phrase of 7 words or less. Multiple phrases won't be accepted, but we offer some special pricing packages for multiple voice tags. If your tag is longer than 7 words, it is considered as 2 tags.
        .faq__item
            +theText('p', 'large').faq__title Can I edit the phrase after purchase?
            .faq__text.text Yes, but you got only 8 hours after your order is confirmed.
        .faq__item
            +theText('p', 'large').faq__title I don't have a tag phrase yet. Can I still order?
            .faq__text.text Yes, just include your producer name and we will contact you help to figure out what you need.
        .faq__item
            +theText('p', 'large').faq__title Can you just add some effects for my own recording?
            .faq__text.text Yes, email us at <a href="mailto://mail@voicetaglab.com">mail@voicetaglab.com</a> and we will discuss it.
