@import '../../functions.scss';

.faq {
    padding-left: rems(20);
    padding-right: rems(20);

    &__header {
        margin-bottom: rems(24);
    }

    &__item {
        & + & {
            margin-top: rems(32);
        }
    }

    &__title {
        margin-bottom: rems(8);
    }

    &__text {
        font-size: rems(16);
        color: rgba(#fff, 0.8);
    }
}
