@import '../../functions.scss';

.faq {
    &__header {
        margin-bottom: rems(24);
    }

    &__list {
        max-width: rems(871);
        font-family: 'Montserrat', sans-serif;
    }

    &__item {
        & + & {
            margin-top: rems(32);
        }
    }

    &__title {
        margin-bottom: rems(8);
    }

    &__text {
        font-size: rems(16);
        line-height: 120%;
        color: rgba(#fff, 0.8);
    }
}
