.reviews {
    padding-left: 20px;
    padding-right: 20px;

    &__title {
        margin-bottom: 32px;
        font-size: 24px;
        font-weight: bold;
        line-height: 140%;
    }

    &__item {
        box-sizing: border-box;

        & + & {
            margin-top: 8px;
        }

        &:nth-child(1) {
            transform: rotateZ(1deg);
        }
        &:nth-child(2) {
            transform: rotateZ(-1deg);
        }
        &:nth-child(3) {
            transform: rotateZ(1deg);
        }
        &:nth-child(4) {
            transform: rotateZ(-1deg);
        }
        &:nth-child(5) {
            transform: rotateZ(1deg);
        }
        &:nth-child(6) {
            margin-top: 6px;
            margin-bottom: -2px;
        }
        &:nth-child(7) {
            transform: rotateZ(1deg);
        }
        &:nth-child(8) {
            transform: rotateZ(-1deg);
        }
    }

    &__social {
        margin-top: 24px;
        padding: 24px;
        background: linear-gradient(31deg, #FA09D1, #FAAB09);
        border-radius: 30px;
        display: flex;
    }

    &__text {
        font-size: 16px;
        line-height: 120%;
    }

    &__icon {
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 12px;
        flex-shrink: 0;
    }
}
