@import '../../functions.scss';

$gradientPlay: linear-gradient(45deg, #0EF0A8 30%, #0958FA 90%);
$gradientPause: linear-gradient(45deg, #0958FA 10%, #0EF0A8 70%);

.audio-track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(#fff, 0.12);
    border-radius: rems(20);
    min-height: rems(52);
    padding: rems(6) rems(8);
    box-sizing: border-box;
    backdrop-filter: blur(rems(50));

    &__button {
        width: rems(40);
        height: rems(40);
        background: $gradientPlay;
        border-radius: 50%;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__pause {
        display: none;
    }

    &__button[data-is-playing=true] {
        background: $gradientPause;

        .audio-track__play {
            display: none;
        }
        .audio-track__pause {
            display: block;
        }
    }

    &__button[data-is-playing=false] {
        background: $gradientPlay;

        .audio-track__play {
            display: block;
        }
        .audio-track__pause {
            display: none;
        }
    }

    &__bar {
        flex-grow: 1;
        align-items: center;
        margin-left: rems(8);
        max-height: rems(30);
    }

    &__stick {
        border-radius: rems(2);
        width: rems(2);
        min-height: rems(8);
        max-height: rems(30);
        background-color: #ccc;

        &--8 {
            height: rems(8);
        }

        &--10 {
            height: rems(10);
        }

        &--12 {
            height: rems(12);
        }

        &--16 {
            height: rems(16);
        }

        &--20 {
            height: rems(20);
        }

        &--24 {
            height: rems(24);
        }

        &--26 {
            height: rems(26);
        }

        &--28 {
            height: rems(28);
        }

        &--30 {
            height: rems(30);
        }

        & + & {
            margin-left: rems(2);
        }
    }
}
