@import '../../functions.scss';

.offer {
    background-color: rgba(#000, 0.4);
    border-radius: rems(30);
    padding: rems(24);
    box-sizing: border-box;

    &__title {
        margin-bottom: rems(8);
        font-size: rems(24);
        line-height: 140%;
    }

    &__list {
        margin-bottom: rems(20);
    }

    &__item {
        font-size: rems(16);
        line-height: 140%;
        font-weight: lighter;
    }

    &__action {
        display: block;
        width: 100%;
        max-width: rems(274);
        margin: 0 auto;

        @media (min-width: 768px) {
            margin: 0;
        }
    }
}
