.offer
    +theText('h3', 'h3').offer__title Ultimate Offer For Music Producers
    .offer__list
        +theText('p', 'small').offer__item Ultimate Offer For Music Producers
        +theText('p', 'small').offer__item Custom Voice Tag + 10GB of drum, loop and midi kits
    +buttonGradientBorderOutline.offer__action I want it
