.offer
    .offer__title Ultimate Offer For Music Producers
    .offer__list
        .offer__item Ultimate Offer For Music Producers
        .offer__item Custom Voice Tag + 10GB of drum, loop and midi kits
    .offer__action I want it
