.futures
    .futures__container.container
        +theText('h2', 'h2').futures__header Futures
        ul.futures__list
            li.futures__item
                +theText('h6', 'medium').futures__title Multiple recordings
                +theText('p', 'small').futures__description We record each day at least 3 times so you can choose the best one
            li.futures__item
                +theText('h6', 'medium').futures__title FX + Mixed + Unmixed
                +theText('p', 'small').futures__description We send 3 variations of each voice tag: with sound FX, basic mixing, and the dry recording. So, for example, if you ordered 3 voice tags, you will receive 9 versions!
            li.futures__item
                +theText('h6', 'medium').futures__title HQ WAV files
                +theText('p', 'small').futures__description You will receive your voice tag(s) in the highest quality.
            li.futures__item
                +theText('h6', 'medium').futures__title Fully Custom
                +theText('p', 'small').futures__description You can request any effects, style and all you want!
