.header
    .header__logo
    .header__addition
        nav.header__nav
            a.header__link About us
            a.header__link Tags Samples
            a.header__link Pricing
            a.header__link Reviews
            a.header__link FAQ
            a.header__link Contacts
        button.header__questions
        button.header__action Get your tag
