@import '../../functions.scss';

.how-work {
    &__title {
        margin-bottom: rems(24);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rems(24);
        background: rgba(#fff, 0.04);
        border-radius: rems(30);
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-bottom: rems(16);

        @media (min-width: 768px) {
            flex-direction: row;
            align-self: stretch;
            justify-content: space-between;
        }
    }

    &__item {
        display: flex;
        align-items: center;

        @media (max-width: 767px) {
            & + & {
                margin-top: rems(16);
            }
        }

        @media (min-width: 768px) {
            flex-shrink: 1;
            flex-grow: 1;
            flex-basis: 0;
            max-width: rems(290);

            & + & {
                margin-left: rems(16);
            }
        }
    }

    &__count {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rems(72);
        height: rems(118);
        margin-right: rems(8);
        flex-shrink: 0;
        font-size: rems(90);
        font-weight: bold;
        background-image: linear-gradient(0deg, rgba(#fff, 0), rgba(#fff, 0), rgba(#fff, 0.5), rgba(#fff, 0.7), rgba(#fff, 1));
        font-family: 'ArchivoBlack', sans-serif;

        /* Use the text as a mask for the background. */
        /* This will show the gradient as a text color rather than element bg. */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    &__attention {
        position: relative;
        padding: rems(16) rems(43);
        background-color: rgba(#fff, 0.04);
        border-radius: rems(20);
        font-size: rems(16);
        text-align: center;
        max-width: rems(509);
    }

    &__punctuation {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: rems(37);
        padding-left: rems(16);
        padding-right: rems(16);
        box-sizing: border-box;
        font-weight: bold;
    }
}
