.pricing
    .pricing__table
            +theText('h2', 'h2').pricing__header Pricing
            b.pricing__column.pricing__column--col-header 1 Tag
            b.pricing__column.pricing__column--col-header 2 Tags
            b.pricing__column.pricing__column--col-header 3 Tags
            b.pricing__column.pricing__column--col-header 4 Tags

            // 1 row
            .pricing__column.pricing__column--cell.pricing__column--row-header
                b 1 Voice
                p You can pick any voice
            .pricing__column.pricing__column--cell.pricing__column--center.pricing__column--selected
                del $31
                p $24.90
            .pricing__column.pricing__column--cell.pricing__column--center.pricing__column--filled
                del $31
                p $39.90
            .pricing__column.pricing__column--cell.pricing__column--center.pricing__column--filled
                del $31
                p $49.90
            .pricing__column.pricing__column--cell.pricing__column--center.pricing__column--filled
                del $31
                p $59.90

            // 2 row
            .pricing__column.pricing__column--cell.pricing__column--row-header
                b 2 Voices
                p You can pick any 2 voices
            .pricing__column.pricing__column--cell
            .pricing__column.pricing__column--cell.pricing__column--center.pricing__column--filled
                del $31
                p $44.90
            .pricing__column.pricing__column--cell.pricing__column--center.pricing__column--filled
                del $31
                p $59.90
            .pricing__column.pricing__column--cell.pricing__column--center.pricing__column--filled
                del $31
                p $69.90

            // 3 row
            .pricing__column.pricing__column--cell.pricing__column--row-header
                b 3 Voices
                p You can pick any 3 voices
            .pricing__column.pricing__column--cell
            .pricing__column.pricing__column--cell
            .pricing__column.pricing__column--cell.pricing__column--center.pricing__column--filled
                del $31
                p $64.90
            .pricing__column.pricing__column--cell.pricing__column--center.pricing__column--filled
                del $31
                p $74.90

            // 4 row
            .pricing__column.pricing__column--cell.pricing__column--row-header
                b 4 Voices
                p You can pick all 4 voices
            .pricing__column.pricing__column--cell
            .pricing__column.pricing__column--cell
            .pricing__column.pricing__column--cell
            .pricing__column.pricing__column--cell.pricing__column--center.pricing__column--filled
                del $31
                p $79.90
    +buttonGradientBackground.pricing__action Get your custom tag
