.main
    img.main__background
    .main__container.container
        h1.main__title Voice Tag Lab
        h4.main__subtitle The best custom voice tags online
        p.main__description Voice Tag is a necessity for every music producer. We offer a wide range of voices and professional service. Brand your sound with us! Become known
        button.main__action Get your custom tag
