.app
    include sections/header/header.pug
    include sections/main/main.pug
    include sections/how-work/how-work.pug
    include sections/about-us/about-us.pug
    include sections/samples/samples.pug
    include sections/futures/futures.pug
    include sections/offer/offer.pug
    include sections/pricing/pricing.pug
    include sections/reviews/reviews.pug
    //include sections/faq/faq.pug
    //include sections/have-questions-form/have-questions-form.pug
    //include sections/footer/footer.pug
