include components/the-text/the-text.pug
include components/button/button.pug
include components/review/review.pug
include components/logo/logo.pug
include components/audio-track/audio-track.pug

include sections/header/header.pug

.app
    .app__section
        .container.app__container
            +header.app__header
    .app__section
        include sections/main/main.pug
    .app__section
        .app__container.app__how-work
            include sections/how-work/how-work.pug
    .app__section
        .app__container
            include sections/about-us/about-us.pug
    .app__section
        .app__container
            include sections/samples/samples.pug
    .app__section
        .app__container
            include sections/futures/futures.pug
            include sections/offer/offer.pug
    .app__section
        .app__container
            include sections/pricing/pricing.pug
    .app__section
        .app__container
            include sections/reviews/reviews.pug

    .app__section
        .app__container
            include sections/faq/faq.pug
    .app__section
        .app__container
            include sections/have-questions-form/have-questions-form.pug
    .app__section
        include sections/footer/footer.pug
